<ion-content [fullscreen]="true">
<div class="background">
  <div class="menu">
    <div class="sobre"><span>Sobre</span></div>
    <div class="clientes"><span>Clientes</span></div>
    <div class="perfil"><span>Produtos</span></div>
    <div class="contato"><span>Contato</span></div>
  </div>
  <!-- <div class="img"> <img src="../../assets/back blue.jfif" alt="back-ground"></div> -->
</div>
<div class="profile">

  <div class="photo"><img src="../../assets/bianca_2-removebg.png" alt="profile-smile"></div>
</div>
</ion-content>
